.title
{
  text-align: center;
}
.dio_meun
{
  h2
  {
    margin-left: 10px;
  }

}
.input-quizName
{
  margin-left: 10px;
  height: 20px;
}
.input-quesName
{
  margin-left: 10px;
  height: 20px;
}
.input-quizDesc
{
  margin-left: 10px;
  height: 100px;
  width: 200px;
}


/* 样式设置 */
.tabs {
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 10px;
  margin-right: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.tab.active {
  background-color: #4CAF50;
  color: white;
}
.tab-content {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}
.tab-content.active {
  display: block;
}
.mat_tab
{
  background-color: #ffffff;
  width: 600px;
  height:500px;
  border-radius: 15px;
  position: relative;
 // overflow: visible;
}
.button_right
{
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.button_left
{
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.button_right_D
{
  height: 25px;
  margin-top: 25px;
  margin-left: 70px;
}
.Bottom_Line
{
  //height: 25px;
  //width: 100%;
  border-bottom: #250202 1px solid;
}
.input-ques
{
  display: flex;
  margin-top: -40px;
  margin-left: 15px;
  //justify-content: center;
  //align-items: center;
 .h5
 {
  text-align: top;
 }
}
.select-type
{
  height: 20px;
  width: 150px;
}
.olTextSize
{
  font-size: 20px;
}
.ques_table{
  height: 250px;
  width: 100%;

}
.input_option
{
  display: flex;
  padding: 25px;
  margin-top: -40px;
  height: 100px;
}
.Bottom_Line_2
{
  display: flex;
  height: 25px;

}
.button_option_D
{
  height: 25px;
  margin-top: 17%;
  margin-right: 10%;
}
ul
{
  padding-bottom: -25%;
}
.titlePreview
{
  text-align: center;
}
.DescPreview
{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  word-break: break-all;
}
