.title
{
  text-align: center;
}
.dio_meun
{
  h2
  {
    margin-left: 10px;
  }
}
.input-quizName
{
  margin-left: 10px;
  height: 20px;
}
.input-quesName
{
  margin-left: 10px;
  height: 20px;
}
.input-quizDesc
{
  margin-left: 10px;
  height: 100px;
  width: 200px;
}


/* 样式设置 */
.tabs {
  display: flex;
  cursor: pointer;
}
.tab {
  padding: 10px;
  margin-right: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.tab.active {
  background-color: #4CAF50;
  color: white;
}
.tab-content {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}
.tab-content.active {
  display: block;
}
.mat_tab
{
  background-color: #ffffff;
  width: 500px;;
  height:500px;
  border-radius: 15px;
  position: relative;
}
.button_right
{
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.button_left
{
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.Bottom_Line
{
  border-bottom: #250202 1px solid;
}
.input-ques
{
  display: flex;
  margin-top: -40px;
  margin-left: 15px;
  //justify-content: center;
  //align-items: center;
 .h5
 {
  text-align: top;
 }
}
.select-type
{
  height: 20px;
  width: 150px;
}
.olTextSize
{
  font-size: 20px;
}
