<h1 mat-dialog-title class="title">新增問卷</h1>
<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<!-- <mat-dialog-content>
      <div class="dio_meun">
        <h2>問卷名稱 :
          <input type="text" class="input-quizName" [(ngModel)]="inputquizName" (change)="testTEXT()">
        </h2>
      </div>
      <h2>問卷描述 :
        <textarea class="input-quizDesc" [(ngModel)]="inputquizDesc" (change)="testTEXT()"></textarea>
      </h2>
      <h2>開始日期 : <input type="date" name="" id=""></h2>
      <h2>結束日期 : <input type="date" name="" id=""></h2>

      <div class="tabs">
        <div class="tab" data-target="tab1">Tab 1</div>
        <div class="tab" data-target="tab2">Tab 2</div>
        <div class="tab" data-target="tab3">Tab 3</div>
    </div>
</mat-dialog-content> -->
<!-- Dialog Actions -->
<!-- <mat-dialog-actions>
  <button mat-button (click)="on_loding_click(false)">取消</button>
  <button mat-button (click)="on_loding_click(true)">下一步</button>
</mat-dialog-actions> -->

