.activity
{
  position:relative;
  height: 100vh;
  width:  100vw;
  background-color: hsl(160, 91%, 22%);
}
.h1_title
{
  position:absolute;
  top: -10.5%;
  left: 50%;
}
.date_start
{
  position:absolute;
  top:80%;
  left:5%;
}
.date_end
{
  position:absolute;
  top:80%;
  left: 25%;
}
.activity-meun
{
  //position: relative;
  left: 40%;
  bottom:10%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 600px;
  width:  800px;
  background-color: rgba(244, 255, 240, 0.306);
  border:solid 2px black;
  border-radius: 15px;
  padding: 30px;
  box-shadow: inset;
  box-shadow: 5px 8px 77px rgba(255, 255, 255, 0.5);

}
//-------------------------------------
.Toolbar
{
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  height: 75px;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  //transition:;
  // 之後再塞image
}
.opt_button
{
  position: absolute;
  top: 5%;
  left: -2.5%;
  height: 50px;
  width: 100px;
  border-radius: 10%;
  background-color: white;
}
.option_main
{
  height: 200px;
  width: 100px;
  bottom: 0%;
  border-radius: 5px;
  transition:  opacity 1.5s transform 0.5s;
  transform: translateY(-200px);
  opacity: 0.5;
  background-color:white;
}

.ToolbarColore
{
  background-color: black;
  width: 75%;
  height: 10%;
  position: absolute;
  top: 30%;
}
.ToolbarColore1
{
  background-color: black;
  width: 75%;
  height: 10%;
  position: absolute;
  top: 50%;
}
.ToolbarColore2
{
  background-color: black;
  width: 75%;
  height: 10%;
  position: absolute;
  top: 70%;
}
.Toolbar:hover
{
  background-color: black;

}
.Toolbar:hover .ToolbarColore
{
  background-color: rgb(255, 255, 255);

}
.Toolbar:hover .ToolbarColore1
{
  background-color: rgb(255, 255, 255);

}
.Toolbar:hover .ToolbarColore2
{
  background-color: rgb(255, 255, 255);
}
.option_main
{
  transition:height 0.5s;
  overflow-y: hidden;
  height: 0px;
  transform: translateY(0px);
  transition-delay: 0.5s;
  opacity: 1;
}
//------------------------------------
th
{
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  width: 50dvw;
}
.botton_R
{
  border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
}
.caption_bg
{
  background-color: hsla(0, 0%, 0%, 0.3);
}
.botton_Z_push
{
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: 20px;
  width: 100px;
  margin-left: 50px;
  text-align: center;
}
.botton_Z_push_2
{
  position: absolute;
  bottom: 5%;
  left: 0%;
  height: 20px;
  width: 100px;
  margin-left: 50px;
  text-align: center;
}
.botton_class
{

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top:-6%;

}
.test:hover
{

  // transition: transform 1.0s , background-color 1s ;
  // transform: scale(1.1);
  background-color: lightcoral;

}
.test_2:hover
{
  background-color: rgb(78, 78, 78);
}
.test_3:hover
{
  background-color: aqua;
}
.sc
{
  position: absolute;
  left: 60%;
  top: 80%;
  height: 25px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.164);
}
.ques
{

}
.text_all
{
  position: relative;
  margin-left: 150px;
  //display: flex;
  flex-wrap: wrap;
}
.pitcer
{
  position: absolute;
  width: 70px;
  height: 70px;
  left: -120px;
}
.td_goleft
{
  position: relative;
  text-align: center;
  width: 20dvw;
  color: rgb(255, 255, 255);
  left: -10px;
}
.name_break
{
  //overflow-wrap: break-word;
  word-break: break-all;
}
.edit_button
{
  position: absolute;
  top: 30%;
  left: -2.5%;
  height: 50px;
  width: 100px;
  border-radius: 10%;
  background-color: white;
}
