<div class="activity">

 <div class="Toolbar" (mouseenter)="click_tool_bar()">
    <div class="ToolbarColore"></div>
    <div class="ToolbarColore1"></div>
    <div class="ToolbarColore2"></div>
  </div>
  <div class="option_main" id="option_main">
    <div class="option1">
      <input type="button" value="新增問卷" class="opt_button" (click)="showDialog(2)">

    </div>
    <div class="option1"></div>
    <div class="option1"></div>
  </div>

  <div class="activity-meun">
    <div>
      @if (administrator_bool)
      {
        <button>新增</button>
        <button (click)="delata_data()" >刪除</button>
        <button (click)="sign_out()">登出</button>
      }


    </div>
      <table>
        <caption class="caption_bg">問卷列表</caption>

        <div class="activity-title">
        <thead>

            <tr>
              <th class="ques_picter"></th>
              <th class="ques">問卷名稱</th>
              <th class="start_time">開始時間</th>
              <th class="end_time">結束時間</th>
              <th class="static">狀態</th>
              <button class="botton_Z_push" (click)="for_activeData(5)">前進</button>
              <button class="botton_Z_push_2" (click)="for_activeData(-4)">後退</button>
          </tr>
        </thead>

          @for (item of activeData; track $index)
          {

            <div class="text_all" [ngClass]="meun_button_class()" (click)="meun_button_click(item)" (mouseenter)="mouse_enter(item)" (mousedown)="mouse_enter(item)" id={{item}}>
              <td><input class="pitcer" type="image" src="/imag_1.png" alt=""></td>
              <td class="td_goleft name_break">{{item.date}}zzzzzzzzzzzzzzzz</td>
              <td class="td_goleft">{{item.name}}</td>
              <td class="td_goleft">{{item.state}}</td>
              <td class="td_goleft">{{item.pos}}</td>
            <p></p>
            </div>

          }
      </div>
    </table>
    <div class="botton_class">
      <input type="text" name="" id="" [(ngModel)]="sc_name" (keyup)="for_activeData(0)" class="sc">
    </div>
    <div> <h1 class="h1_title">{{administrator_str}}</h1></div>
    <div><input type="date" name="" id="" class="date_start"></div>
    <div><input type="date" name="" id="" class="date_end"></div>
    </div>
</div>

<!-- @for (ㄑ of items; track $index) {} -->
