<!-- <div class="main_container "> -->
  <!-- <div class="image"> -->
    <!-- <div class="mouth"></div> -->
    <!-- <div class="manu"> -->
      <!-- <div> -->
        <!-- <h2>帳號 : <input type="text" name="" id=""></h2> -->
        <!-- <h2>密碼 : <input type="password" name="" id=""></h2> -->
          <!-- <div class="open_button_class"> -->
            <!-- <input class="open_button" type="button" (click)=" longin()"  value="登入"> -->
            <!-- <input class="open_button" type="button" value="註冊"> -->
         <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
 <!-- -------------------------------------選轉效果------------------------------- -->
 <body>
  <div class="imgloader"></div>
  <div class="container">
  <div class="book">
    <div class="gap"></div>
    <!-- 底圖 -->
     <div class="pages">
      <div class="page1 page" id="1"></div>
      <div class="page2 page" id="2"></div>
      <div class="page3 page" id="3"></div>
      <div class="page4 page" id="4">
         <!-- <div class="open_button_class"> -->
         <!-- <input class="open_button" type="button" (click)=" longin()"  value="登入"> -->
         <!-- <input class="open_button" type="button" value="註冊"> -->
      </div>
      <div class="page5 page" id="5">

        <div class="main_container ">
        <div class="manu">
          <h3>帳號 : <input type="text" name="" id=""></h3>
          <h3>密碼 : <input type="password" name="" id=""></h3>
        <div class="open_button_class">
        <input class="open_button" type="button" (click)=" longin()"  value="登入">
        <input class="open_button" type="button" value="註冊">
      </div>
      </div>
      </div>
    </div>
      <div class="page6 page" id="6"></div>
     </div>
     <!-- 切片 -->
      <div class="flips">
        <div class="flip  flip1">
          <div class="flip flip2">
            <div class="flip flip3">
              <div class="flip flip4">
                <div class="flip flip5">
                  <div class="flip flip6">
                    <div class="flip flip7">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</body>























